#left{
    background-color: #007AFF;
    color: #fff;
    width: 12vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20vh;
    font-size: 8vh;
    
   

}

.icon{
    margin-bottom: 10vh;
    margin-left: 2vh;
    
    
}

.icon :hover{
    transition: 200ms;
    color: #909597;
    
}