
.contenido{
  margin: 2vh;
}
.card{
  margin-bottom: 3vh;
}
.card-header{
  background-color: #007AFF;
  color: #fff;
  font-weight: bold;
}
#user-form{
  gap: 1vh;
}
.input-group{
  width: 90%;
  }
  

  